html {
  background: papayawhip;
font-family: 'Questrial', sans-serif;
}
body {
  background-color: papayawhip;
}


img {
  max-width:600px;
  position:relative;
}


.ind {
  top:70px;
  right:100px;
}



.mtlr {
  width:500px;
  top:100px;
  left:200px;
}


.hyd {
  top:250px;
  left:175px;
}

.coa {
  right:-175px;
  top:200px;
  width:300px;
}
@media screen and (max-width:800px) {

  body{
    font-size:10px;
  }
}
