html {
  background: mistyrose;
font-family: 'Questrial', sans-serif;
}






img {
  max-width:600px;
  position:relative;
}


.ind {
  top:70px;
  right:100px;
}



.mtlr {
  width:500px;
  top:100px;
  left:200px;
}
