html {
  background: #b61924;
font-family: 'Questrial', sans-serif;
}
body {
  background-color: #b61924;
}


img {
  max-width:600px;
  position:relative;
}


.ind {
  top:70px;
  right:100px;
}



.mtlr {
  width:500px;
  top:100px;
  left:200px;
}


.hyd {
  top:250px;
  left:200px;
}
canvas{
  display:block;
  vertical-align:bottom;
}
#particles-js{
  width: 100vw;
  height: 100vh;
  position:fixed;
  z-index:-1;
  background-color: #b61924;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
@media screen and (max-width:800px) {

  body{
    font-size:10px;
  }
}
