html {
  background: lavenderblush;
font-family: 'Questrial', sans-serif;
}

.aboutlogo
{border-style: solid;
  font-size:30px;
padding: 20px;
background-color: lemonchiffon;}

.padding
{padding:100px;

}
