html {
  background: mistyrose;
  font-family: 'Questrial', sans-serif;
}

* {
  box-sizing: border-box;
}

/* Set a background color */
body {
  background: mistyrose;
  font-family: 'Questrial', sans-serif;
}

p {
  text-align:center;
}

.aboutlogo {
  font-size: 30px;
  padding: 20px;
  background-color: lemonchiffon;
}

.thingstoknow {
  font-size: 20px;
  padding: 20px;
  background-color: palegoldenrod;
  text-align:center;
  max-width:200px;
  margin:0 auto;
}

.padding {
  padding: 100px;
}
img {
  max-width:600px;
  position:relative;
}

.rue {
  padding:50px;
  right:-50px;
  top:-60px;
}

.g {
  left:100px;
  top:-110px;
}
