html {
  background:indianred;
  font-family: 'Overpass', sans-serif;
}
* {
  box-sizing:border-box;
  font-family: 'Overpass', sans-serif;

}

.header-container {
  display:flex;
}
.headbar {
background:lemonchiffon;
align-items:center;
justify-content:space-around;
display:flex;
flex-direction:row;
height:8vh;
width:200vh;
border-radius:12px;
}

.button {
  background:steelblue;
  display:flex;
  flex-direction:row;
  padding:12px;
  justify-content:center;
  border-radius:12px;
  font-family: 'Overpass', sans-serif;
  text-decoration:none;
  color:black;
  font-size:20px;

}
.button:hover {
  background:red;
}
h1 {
  font-family: 'Overpass', sans-serif;
  font-size:70px;
  text-align:center;
}
.aboutbox {
  border-style:solid;
  padding:20px;
  background-color:lemonchiffon;
}
