html {
  background: indianred;
  font-family: 'Overpass', sans-serif;
  padding-right: 20px;
  padding-left: 20px;
}

* {
  box-sizing: border-box;
  font-family: 'Overpass', sans-serif;
}

.header-container {
  display: flex;
}

.headbar {
  background: lemonchiffon;
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  height: 8vh;
  width: 100%;
  border-radius: 12px;
}

.button {
  background: steelblue;
  display: flex;
  flex-direction: row;
  padding: 12px;
  justify-content: center;
  border-radius: 12px;
  font-family: 'Overpass', sans-serif;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.button:hover {
  background: red;
}

h1 {
  font-family: 'Overpass', sans-serif;
  font-size: 70px;
  text-align: center;
}
.padding {
  padding:20px;
}
.aboutbox {
  border-style: solid;
  padding: 20px;
  background-color: lemonchiffon;
}

@media screen and (max-width:960px) {
  .header-container {
    flex-wrap: wrap;
  }
}

.style {
  transform: translateX(-200px);
}

.marquee {
  overflow:hidden;
  border: 1px solid #ccc;
  font-size: 2rem;
  duration:infinite;
}
