html {
  background: lavenderblush;
font-family: 'Questrial', sans-serif;
}

* {
  box-sizing: border-box;
  font-family: 'Questrial', sans-serif;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding:15px;
}

.header-container {
  display: flex;
  max-width: 100vw;
  height:100%;
}

.headbar {
  background: lemonchiffon;
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  height: 8vh;
  width: 100%;
  border-radius: 12px;
}

.button {
  background: steelblue;
  display: flex;
  flex-direction: row;
  padding: 12px;
  justify-content: center;
  border-radius: 12px;
  font-family: 'Overpass', sans-serif;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.button:hover {
  background: red;
}

.padding {
  padding: 100px;
}

.aboutbox {
  border-style: solid;
  padding: 20px;
  background-color: lemonchiffon;
}

@media screen and (max-width:960px) {
  .header-container {
    flex-wrap: wrap;
  }
}

.style {
  transform: translateX(-200px);
}

.marquee {
  overflow: hidden;
  border: 1px solid #ccc;
  font-size: 2rem;
  margin-top: 2rem;
  height:100%;
}

.nav-marquee {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  max-width: 100%;
  height:100%;
}

.marquee-container {
  max-width: 100%;
  overflow: hidden;
  height:100%;
}
